
<p id="notice"><%= notice %></p>
<h1>招租信息一览</h1>

<table>
  <thead>
    <tr>
      <th>标题</th>
      <th>起租日期</th>
      <th>小区名</th>
      <th>招租人</th>
      <th></th>
      <% if current_user.authority > 0 %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.title %></td>
        <td><%= rent.date_from %></td>
        <td><%= rent.district %></td>
        <td><%= rent.user.name %></td>
        <td><%= link_to '查看详情', rent %></td>
        <% if current_user.authority > 0 %>
          <td><%= link_to '删除', rent, method: :delete, data: { confirm: '确定删除嘛？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '发布招租信息', new_rent_path %>

<%= link_to('登出', destroy_user_session_path, :method => :delete) %>        

