<!DOCTYPE html>
<html>
<head>
  <title>UCSD CSSA短租平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user != nil %>
    <%= render "shared/profile" %>
  <% end %>
  <div style="margin-bottom: 15%">
		<%= yield %>
	</div>
  <br/>
  <br/>
  <footer>
    <div class="container">
      <p class="text-center text-muted">
        漏洞报告请联系: benben8435@gmail.com<br>
        CSSA短租平台 V0.1 <br>
        &copy; Copyright UCSD CSSA<br />
        CSSA 网站组出品

      </p>
    </div>
  </footer>
</body>
</html>
